---
import Layout from "../../layouts/Layout.astro";
import ProductGrid from "../../components/ProductGrid.astro";
import FilterSection from "../../components/FilterSection.astro";
import { getCollection } from "astro:content";

const products = await getCollection("products");
const sortedProducts = [...products].sort(
    (a, b) => a.data.rating - b.data.rating,
);
---

<Layout title="Lowest Rated Products - Litec-Loot">
    <div class="flex justify-between items-center mb-8">
        <h1 class="text-3xl font-bold text-gray-800">Lowest Rated Products</h1>
        <div class="flex justify-end mb-6">
            <div class="bg-white rounded-lg shadow-md p-2 inline-flex">
                <a
                    href="/rating/desc"
                    class="px-4 py-2 rounded-l-md hover:bg-gray-100"
                >
                    Highest Rated
                </a>
                <a
                    href="/rating/asc"
                    class="px-4 py-2 rounded-r-md bg-indigo-600 text-white"
                >
                    Lowest Rated
                </a>
            </div>
        </div>
    </div>

    <FilterSection products={products} />

    <ProductGrid products={sortedProducts} />
</Layout>
