---

---

<footer class="bg-gray-800 text-white p-4 mt-12">
    <div class="container mx-auto text-center">
        <p>Litec-Loot. AGPL V3 Licensed.</p>
        <div class="mt-2 flex justify-center space-x-4 text-sm">
            <a href="/" class="hover:underline">Home</a>
            <a href="/rating/desc" class="hover:underline">Top Rated</a>
            <a href="/rating/asc" class="hover:underline">Lowest Rated</a>
            <a href="/stats" class="hover:underline">Statistics</a>
            <a href="" class="hover:underline">GitHub</a>
        </div>
    </div>
</footer>
